<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>${xplp.bundleostype}</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>${xplp.bundletypename}</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>${xplp.filetype}</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
    </array>
    <key>CFBundleName</key>
    <string>${xplp.applicationname}</string>
    <key>CFBundleVersion</key>
    <string>${project.version}</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleGetInfoString</key>
    <string>${project.version}, ${project.description}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>${xplp.mainclassname}</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>${xplp.bundlesignature}</string>
    <key>CFBundleIconFile</key>
    <string>${xplp.iconsfilename}</string>
    <key>Java</key>
    <dict>
        <key>MainClass</key>
        <string>${xplp.mainclassname}</string>
        <key>JVMVersion</key>
        <string>1.4+</string>
        <key>ClassPath</key>
        <array>
 ${xplp.macosxclasspatharray}
        </array>
        <key>Properties</key>
        <dict>
            <key>com.apple.mrj.application.apple.menu.about.name</key>
            <string>${xplp.applicationname}</string>
            <key>apple.awt.textantialiasing</key>
            <string>true</string>
            <key>com.apple.smallTabs</key>
            <string>false</string>
            <key>apple.laf.useScreenMenuBar</key>
            <string>true</string>
            <key>com.apple.mrj.application.live-resize</key>
            <string>true</string>
            <key>apple.awt.antialiasing</key>
            <string>true</string>
            <key>apple.awt.showGrowBox</key>
            <string>true</string>
${xplp.macosxsystemproperties}        </dict>
    </dict>
</dict>
</plist>