<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>${xplp.bundleostype}</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Mindmap</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>${xplp.filetype}</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
    </array>
    <key>CFBundleName</key>
    <string>${xplp.applicationname}</string>
    <key>CFBundleVersion</key>
    <string>${project.version}</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleGetInfoString</key>
    <string>${project.description}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>${xplp.mainclassname}</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>${xplp.bundlesignature}</string>
    <key>CFBundleIconFile</key>
    <string>${xplp.iconsfile}</string>
    <key>Java</key>
    <dict>
        <key>MainClass</key>
        <string>${xplp.mainclassname}</string>
        <key>JVMVersion</key>
        <string>1.4+</string>
        <key>ClassPath</key>
        <array>
        	${xplp.macosxclasspatharray}
            <string>$JAVAROOT/lib/ant/lib/dom.jar</string>
            <string>$JAVAROOT/lib/ant/lib/jax-qname.jar</string>
            <string>$JAVAROOT/lib/ant/lib/jaxb-api.jar</string>
            <string>$JAVAROOT/lib/ant/lib/jaxb-impl.jar</string>
            <string>$JAVAROOT/lib/ant/lib/jaxb-libs.jar</string>
            <string>$JAVAROOT/lib/ant/lib/namespace.jar</string>
            <string>$JAVAROOT/lib/ant/lib/relaxngDatatype.jar</string>
            <string>$JAVAROOT/lib/ant/lib/sax.jar</string>
            <string>$JAVAROOT/lib/ant/lib/xsdlib.jar</string>
            <string>$JAVAROOT/lib/commons-lang-2.0.jar</string>
            <string>$JAVAROOT/lib/forms-1.0.5.jar</string>
            <string>$JAVAROOT/lib/freemind.jar</string>
        </array>
        <key>Properties</key>
        <dict>
            <key>com.apple.mrj.application.apple.menu.about.name</key>
            <string>${xplp.applicationname}</string>
            <key>apple.awt.textantialiasing</key>
            <string>false</string>
            <key>com.apple.smallTabs</key>
            <string>false</string>
            <key>apple.laf.useScreenMenuBar</key>
            <string>true</string>
            <key>com.apple.mrj.application.live-resize</key>
            <string>true</string>
            <key>apple.awt.antialiasing</key>
            <string>false</string>
            <key>apple.awt.showGrowBox</key>
            <string>true</string>
        </dict>
    </dict>
</dict>
</plist>